* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* below impacts the header */
header {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    margin: 0 auto;
    border: solid 1px #cccccc;
}

.myname {
   height: 100%;
   position: absolute;
   background-color: #4aaaa5;
   padding: 10px;
   margin-left: 10%;
}

.myname:hover {
    background-color: #FF00FF;
}

h1 { 
   font-family: Georgia, Times, "Times New Roman", serif;
   font-size: 24pt;
   color: #ffffff;
   text-align: center;
}



.headerlinks {
    display: inline-block;
    font-size: 18pt;
    padding: 20px 20px;
    margin-right: 10%;
    float: right;
}

li {
    list-style-type: none;
    float: left;
}

/* 
Personal taste with a (below):
1. I purposefully forced the color to be grey regardless if visited or not
*/
a {
    text-decoration:none;
    color: #777777; 
}

a:hover {
    color: #FF00FF;
}

/* below impacts the middle section not the content */
.container {
    clear: both;
    padding: 2vw 8vw;
}

body {
    margin: 0 auto;
    background-image: url("../images/pastel.jpg")
}

/* below impacts the content */
.centercontainer {
    background-color: #ffffff;
    padding: 0 20px;
    margin: 0 30px; 
    overflow: auto;  
}

.centerheader {
    font-family: Georgia, Times, "Times New Roman", serif;
    color:#4aaaa5;
}

/* 
Problems I ran into with h2 (below):
1. the hover over without the width: 20vw takes up the entire size of .centrercontainer but with the width: 20vw, when resizing the page the About me goes onto a new line

...what I want - to have a more contained box without the resizing a proble, so when the user hover overs the h2 it will only have a fixed background of the text and doesn't really go beyond the text - sort of like .myname
*/
h2 {
    padding: 10px;  
    width: 20vw;
}

h2:hover {
    color: #ffffff;
    background-color: #FF00FF;
}

img {
    float: left;
}

.centerbody {
    overflow: auto;
}

p.centertext {
    color: #777777;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

p.centertext:hover {
    color: #FF00FF;
}

p.centertext2 {
    color: #777777;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

p.centertext2:hover {
    color: #FF00FF;
}

/* below imacts the boxes on the portfolio pages within .center */
/* 
Problems I ran into:
1. Not sure why there is a little grey background peeking through the .boximage and the .boximage is not taking the entirety of the box
2. Why the teal #smallbox overtakes #bigbox when resizing the window smaller and doesn't move with the resizing
3. Why there is more white space on the left of the .centercontainer and the boxes do not fill the space and instead move to the next row 
*/
#bigbox {
    width: 15vw;
    height: 15vw; 
    float: left; 
    position: relative;
    margin: 2.5vw; /* not sure this does anythign and  not sure why, px or vw, nada*/
    background-color: #cccccc;
}

.boximage {
    height: auto;
    width: 100%;
}

#smallbox {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 100%;
    position: absolute;
    bottom: 10px; 
    padding: 20px;
    text-align: center;
}

/* impacts the footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background-color: #666666;
    border-top: solid 5px #4aaaa5;
}

p.footer {
    color: #ffffff;
    text-align: center;
    padding: 10px 0 0 0;
}

/* impacts the form on the contact page */
/* style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: solid 1px #cccccc; 
    border-radius: 4px; /* rounded borders */
    margin-bottom: 25px; /* bottom margin */
    resize: vertical; /* allow the user to vertically resize the textarea (not horizontally) */
}
