* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* this impacts the header */
header {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    margin: 0 auto;
    border: solid 1px #cccccc;
}

.myname {
   height: 100%;
   position: absolute;
   background-color: #4aaaa5;
   padding: 10px;
   margin-left: 10%;
}

h1 { 
   font-family: Georgia, Times, "Times New Roman", serif;
   font-size: 24pt;
   color: #ffffff;
   text-align: center;
}

.links {
    display: inline-block;
    font-size: 18pt;
    padding: 20px 20px;
    margin-right: 10%;
    float: right;
}

li {
    list-style-type: none;
    float: left;
}

a {
    text-decoration:none; 
}

/* this impacts the middle section not the content */

.container {
    clear: both;
    padding: 5vw;
}

body {
    margin: 0 auto;
    background-image: url("../images/pastel.jpg")
}

/* this impacts the content */
.center {
    background-color: #ffffff;
    padding: 20px;
    margin: 0 30px; 
    overflow: auto;
    
}

.maintop {
    font-family: Georgia, Times, "Times New Roman", serif;
    color:#4aaaa5;
}

img {
    float: left;
}

.body {
    overflow: auto;
}

p.body {
    color: #777777;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

p.body2 {
    color: #777777;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/* imacts the boxes on the portfolio pages within .center */

#bigbox {
    width: 15vw;
    height: 15vw; 
    float: left; 
    position: relative;
    margin: 2.5vw; 
    background-color: #cccccc;
}

.boximage {
    height: auto;
    width: 100%;
}

#smallbox {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 100%;
    position: absolute;
    bottom: 10px; 
    padding: 20px;
    text-align: center;
}

/* impacts the footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background-color: #666666;
    border-top: solid 5px #4aaaa5;
}

p.footer {
    color: #ffffff;
    text-align: center;
    padding: 10px 0 0 0;
}

/* impacts the form on the contact page */
/* style inputs with type="text", select elements and textareas */

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: solid 1px #cccccc; 
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-bottom: 25px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
